.startDiscussionBtn {
   background-color: #16189ee7; /* Green */
   border: none;
   color: white;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   margin: 4px 2px;
   width: 30%;
   height: max-content;
   cursor: pointer;
   border-radius: 7%;
  }
  .startDiscussionDiv {
   margin-top: 30%;
  }
   
  .navBrand{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bolder;
    background-color: rgba(137, 43, 226, 0.534);
    color: rgb(0, 0, 0);
  }
  .navBrandDashBoard
  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bolder;
  
    color: rgb(255, 255, 255); 
  }

 .mainWebHomePageBackground{
    background-Image: url("https://firebasestorage.googleapis.com/v0/b/discussion-manager.appspot.com/o/annie-spratt-QckxruozjRg-unsplash.jpg?alt=media&token=922ba71c-45dd-4f46-85ba-6030eb80cea9");
   
    background-size: cover;   
    opacity:"80%";
    height:650px;
 } 
.loginForm{
  padding-top: 10%;
  height: 80%;
  width: 40%;
  margin-left: 30%;
  margin-top: 3%;
}
.navLink
{
  cursor: pointer;
}
.peopleList
{
  width: 60%;
  margin-top: 5%;
}
.peopleCardContent{
 text-align: left;

}