.startDiscussionBtn {
   background-color: #16189ee7; /* Green */
   border: none;
   color: white;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   margin: 4px 2px;
   width: 30%;
   height: max-content;
   cursor: pointer;
   border-radius: 7%;
  }
  .startDiscussionDiv {
   margin-top: 30%;
  }
   
  .navBrand{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bolder;
    background-color: rgba(137, 43, 226, 0.534);
    color: rgb(0, 0, 0);
  }
  .navBrandDashBoard
  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bolder;
  
    color: rgb(255, 255, 255); 
  }

 .mainWebHomePageBackground{
    background-Image: url("https://firebasestorage.googleapis.com/v0/b/discussion-manager.appspot.com/o/annie-spratt-QckxruozjRg-unsplash.jpg?alt=media&token=922ba71c-45dd-4f46-85ba-6030eb80cea9");
   
    background-size: cover;   
    opacity:"80%";
    height:650px;
 } 
.loginForm{
  padding-top: 10%;
  height: 80%;
  width: 40%;
  margin-left: 30%;
  margin-top: 3%;
}
.navLink
{
  cursor: pointer;
}
.peopleList
{
  width: 60%;
  margin-top: 3%;
}
.peopleCardContent{
 text-align: left;
}
.peopleCardList{
  height: 440px;
  width: 100%;
 
  overflow-y: scroll;
}
.chatList{
 
  width: 90%;
  margin-top: 2%;
  text-align: left;
}
.ContactsList{
  height: 440px;
  width: 100%;
 
  overflow-y: scroll;
}
.statusText{
  font-size: small;
  text-align: end;
}
.contactsListRow{
  width: 90%;
  margin-top: 2%;
  margin-left: 2%;
}
.chatCotactsListPortionHead{
  border-style: solid;
  border-color:rgb(201, 164, 164);
  border-width: 1px;

}
.searchBarOfContactsList{
  margin-bottom: 5%;
  margin-top: 4%;
  margin-left: 6%;
}
.chatCotactsListPortionTitle{
  margin-left: 4%;
  margin-top: 2%;
}

.chatArea{
 
}
.chatAreaHeader
{
  border-style: solid;
  border-color:rgb(201, 164, 164);
  border-width: 1px;
  width: 100%;
}
.selectedChatContactName{
  margin-top: 9%;
  margin-left: 2%;
  
}
.selectedChatContactLastSeen{
  font-size: 10px;
  margin-left: 2%;
}
.chatMessageArea{
  margin-top:6%;
  width: 100%;
  height: 320px;
}
.listOfMessages{
  height: 320px;
  width: 100%;
  overflow-y: scroll;
}
.recievedMessage{
 
  text-align: left;
  margin-top: 4%;

  border: 1px solid rgb(50, 55, 117);
  border-radius: 5px;
}
.sentMessage
{
  width: 100%;
  text-align: right;
  margin-right: 50%; 
  margin-top: 4%;
  border: 1px solid rgb(228, 7, 7);
  border-radius: 5px;
}
.spaceSentMessage{
  width: 50px;
  visibility: hidden;
}
.messageSendArea{
  border: 1px solid rgb(50, 55, 117);
  border-radius: 5px;
  margin-top: 5%;
  height: 60px;
}
.uploadFile{
  margin-left: 2%;
  margin-top: 2%;
  text-align: center;
}
.messageContextArea{
margin-top: 2%;

padding-left: 0%;
width: 100%;
}
.messageSendBtn{
  margin-top: 2%;
  text-align: left;
  padding-left: 20%;
 
}
.chatProfileViewHeader{
  border-style: solid;
  border-color:rgb(201, 164, 164);
  border-width: 1px; 
}
.chatProfileViewTitle{
  width: 100%;
  margin-top: 20%;
  margin-left: 35%;
  margin-bottom: 15%;
}
.chatProfileContentArea{

}
.profileImage{
  margin-left: 10%;
  margin-top: 10%;
}
.profileViewrDetails{
  margin-top: 10%;
}